{%extends "base.html" %}
{%block content%}
    <h1>Shopping History :</h1>
    {% for ap in items %}
		 {% if ap.order == order %}
    <article class="media content-section">
<img class = " article-img"src = "{{ ap.product.image.url }}">
    <div class="media-body">


        <small class="text-muted">product : {{ ap.product.name }}</br></small>
        <small class="text-muted">quantity : {{ ap.quantity }}</br></small>
        <small class="text-muted">price : {{ ap.product.price}}</br></small>

    </div>
				<p class="text-muted"> {{ ap.get_cost}}</br></p>
    </article>
    {% endif %}
  {% endfor %}
<article class="media content-section">
<div class="media-body">
</div>

 	 <p><b>Total : <b>{{order.get_total_cost}}</b></p>

</article>
{%endblock content%}
<!--
<table class="table">
	<tr>
		<td>ItemName</td>
		<td>Quantity</td>
		 <td>Price (₹)</td>
	</tr>
		{% for ap in items%}
		 {% if ap.order == order %}
			<tr>
				<td>{{ap.product.name }}</td>
				<td>{{ap.quantity }}</td>
				<td>{{ap.product.price }}</td>
			</tr>
			{% endif %}
		 {%endfor%}
		 <tr>
			 <td><b>Total</b></td>
			 <td></td>
			 <td><b>{{order.get_total_cost}}</b></td>
		 </tr>
</table>
<br> -->
