{% extends "base.html" %}
{%load crispy_forms_tags%}
{%block content%}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{user.customer.image.url}}" width = "118" height = "118">
    <div class="media-body">
      <h2 class="account-heading">{{ user.customer.name }}</h2>
      <p class="text-secondary">{{user.email}}</p>
      <a class="detail-edit" href="{% url 'accounts:edit_details' %}">Edit Profile</a>
    </div>
  </div>
  <form method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
    <fieldset class="form =-group">
      <legend class = "border-bottom mb-4">Profile Info</legend>
      {{user_form|crispy}}
      {{pic_form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class = "btn btn-outline-info" type = "submit">Update</button>
    </div>
  </form>
</div>
{% endblock content%}
