{%extends "base.html"%}
{%block content%}
<div class="jumbotron">
    <h1 class=" text-center" ><b>Features</b></h1>
		<h3>Shop Owner:</h3>
    <b><li>View/Update products</li></b>
    <b><li>View Orders History</li></b>
		<b><li>View Ordered History</li></b>
    <b><li>View/Update leave requests by Employees</li></b>
		<br>
    <h3>Customer :</h3>
    <b><li>Wishlist</li></b>
    <b><li>View Shopping History</li></b>
    <b><li>Update Profile</li></b>
    <br>
    <h3>Employee:</h3>
    <b><li>Sell Items</li></b>
    <b><li>Add orders</li></b>
    <b><li>Apply for leave</li></b>
		<b><li>view leave History</li></b>
    <b><li>Update Profile</li></b>

</div>
{%endblock content%}
